[submodule "games/MEMO"]
	path = games/MEMO
	url = https://github.com/IO-Proj/MEMO-Game.git
[submodule "games/Sudoku"]
	path = games/Sudoku
	url = https://github.com/IO-Proj/Sudoku-Game.git
[submodule "games/Snake"]
	path = games/Snake
	url = https://github.com/IO-Proj/Snake-Game.git
